body {
	background-image: url(media/paper.gif);
}
div {
	position: absolute;
}
img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    pointer-events: none;
}

.invisible {
	visibility: hidden;
}

/*SCRAP WHEN ON BENCH - APPEARS WHEN SCRAP DISAPPEARS*/
.benchPart {
	width: calc(100vw * 0.06);
	height: auto;
}

.scrap {
    width: calc(100vw * 0.12);
    height: auto;

    cursor: grab;
    touch-action: none;
    pointer-events: auto;
    z-index: 20;
}

.scrap:active {
    cursor: grabbing;
}

.construct {
    transition: left 1s, top 1s;
    width: 15%;
    height: auto;
    left: 50%;   
    top: calc(100vh - (100vw * 0.15) - 100vh * 0.5);
}

#workBench {
    left: 40%;
    top:40%;
    width: 30%;
    height: calc(100vw * 0.15);

    /* Must NEVER block dragging */
    pointer-events: none;
}
